<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naratik.batikapps">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networksecurityconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Naratik"
        tools:targetApi="n">
        <activity android:name="com.naratik.batikapps.ui.view.StoreActivity">

        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.SearchActivity">

        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.register.AccountActivity">

        </activity>
        <activity
            android:name="com.naratik.batikapps.ui.view.cameraui.CameraActivity"
            android:parentActivityName="com.naratik.batikapps.ui.view.home.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.naratik.batikapps.ui.view.home.HomeActivity" />

        </activity>
        <activity
            android:name="com.naratik.batikapps.ui.view.home.HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.onboarding.OnBoardingActivity" />
        <activity android:name="com.naratik.batikapps.ui.view.favourite.FavouriteActivity" />
        <activity android:name="com.naratik.batikapps.ui.view.ResultActivity">

        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.EditProfileActivity" />
        <activity
            android:name="com.naratik.batikapps.ui.view.ArticleActivity"
            android:parentActivityName="com.naratik.batikapps.ui.view.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.naratik.batikapps.ui.view.home.HomeActivity" />

        </activity>
        <activity
            android:name="com.naratik.batikapps.ui.view.BatikActivity"
            android:parentActivityName="com.naratik.batikapps.ui.view.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.naratik.batikapps.ui.view.home.HomeActivity" />

        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.DetailArticleActivity" />
        <activity android:name="com.naratik.batikapps.ui.view.DetailBatikActivity" />
        <activity
            android:name="com.naratik.batikapps.ui.view.SplashActivity"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.naratik.batikapps.ui.view.FeedbackActivity" />
        <activity android:name="com.naratik.batikapps.ui.view.SettingActivity" />
    </application>

</manifest>