<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b21cap0051.naratik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networksecurityconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Naratik">
        <activity android:name=".ui.home.SearchActivity">

        </activity>
        <activity android:name=".ui.register.AccountActivity">

        </activity>
        <activity
            android:name=".ui.cameraui.CameraActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".ui.onboarding.OnBoardingActivity" />
        <activity android:name=".ui.favourite.FavouriteActivity" />
        <activity android:name=".ui.ResultActivity">
                
        </activity>
        <activity android:name=".ui.EditProfileActivity" />
        <activity android:name=".ui.ArticleActivity" />
        <activity android:name=".ui.BatikActivity" />
        <activity android:name=".ui.DetailArticleActivity" />
        <activity android:name=".ui.DetailBatikActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.SettingActivity" />
    </application>

</manifest>