<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.b21cap0051.naratik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networksecurityconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Naratik"
        tools:targetApi="n">
        <activity android:name=".view.StoreActivity">

        </activity>
        <activity android:name=".view.SearchActivity">

        </activity>
        <activity android:name=".view.register.AccountActivity">

        </activity>
        <activity
            android:name=".view.cameraui.CameraActivity"
            android:parentActivityName=".view.home.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.home.HomeActivity" />

        </activity>
        <activity
            android:name=".view.home.HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.onboarding.OnBoardingActivity" />
        <activity android:name=".view.favourite.FavouriteActivity" />
        <activity android:name=".view.ResultActivity">

        </activity>
        <activity android:name=".view.EditProfileActivity" />
        <activity
            android:name=".view.ArticleActivity"
            android:parentActivityName=".view.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.home.HomeActivity" />

        </activity>
        <activity
            android:name=".view.BatikActivity"
            android:parentActivityName=".view.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.home.HomeActivity" />

        </activity>
        <activity android:name=".view.DetailArticleActivity" />
        <activity android:name=".view.DetailBatikActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.FeedbackActivity" />
        <activity android:name=".view.SettingActivity" />
    </application>

</manifest>